<h1><%= t('.title_1') %></h1>
<h2><%= t('.title_2') %></h2>

<br>

<div class="row">
  <div class="col-md-4 col-md-offset-5">
    <%= button_to t('.new_order'), new_order_path, class: 'btn btn-orange col-md-6', method: 'get' %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4 col-md-offset-5">
    <%= button_to t('.all_orders'), orders_path, class: 'btn btn-orange col-md-6', method: 'get' %>
  </div>
</div>
