<h1>So, you run out again of suppliees! </h1>
<h2>No problem. Order here :) </h2>

<br>

<div class="row">
 <div class="col-md-4 col-md-offset-5">
    <%= link_to "<button type='button', class='btn btn-success col-md-6'> New Order </button>".html_safe, new_order_path %>
 </div>
</div>

<br>

<div class="row">
 <div class="col-md-4 col-md-offset-5">
    <%= link_to "<button type='button', class='btn btn-success col-md-6'>All Orders</button>".html_safe, orders_path %> 
 </div>
</div>
  