<h1>Edit order</h1>

<%= render 'form' %>

<%= link_to "<button type='button', class='btn btn-success'>Show</button>".html_safe, @order %>
<%= link_to "<button type='button', class='btn btn-success'>Back</button>".html_safe, @order %>
