<div class="col-md-4 col-md-offset-4">
  <h1><%= t('.title') %></h1>

  <%= render 'form' %>

  <%= button_to t('.show'), @order, class: 'btn btn-success', method: 'get' %>
  <%= button_to t('.back'), @order, class: 'btn btn-success', method: 'get' %>
</div>
