<div class="col-md-4 col-md-offset-4">
  <h1><%= t('.title') %></h1>

  <%= render 'form' %>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#new_order').addClass('active');
});
</script>
